[build-system]
requires = ["setuptools>=56"]
build-backend = "setuptools.build_meta"

[tool.pytest-enabler.black]
addopts = "--black"

[tool.pytest-enabler.mypy]
addopts = "--mypy"

[tool.pytest-enabler.flake8]
addopts = "--flake8"

[tool.pytest-enabler.cov]
addopts = "--cov"
